body{
  padding-top:  20%;
  text-align: center;

  background-color: #F9F9F9;
}

h1{
  color: red
}
h2{
  color: #BEAEE2;
  font-size: 200%;
}

a{
  color: grey;
  border-color: black;

  text-decoration: none;
}
